# other app dependencies
ipykernel

# generative ai SDK dependencies
azure-ai-generative[evaluate,index,promptflow]

# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.53.0
pytest

# documentation
mkdocs-material